$bg-image-header: "../img/bg-img.jpg";
$skin-fries: "../img/bg-fries.jpg";
$cookie-frappe: "../img/bg-frappe.jpg";
$donut-burger: "../img/bg-donut.jpg";
$bg-discount: "../img/bg-discount.jpg";
$bg-effect: "../img/bg-effect.svg";
$bg-download-app: "../img/bg-download-app.jpg"
