$bg-image-header: "../img/bg-img.jpg";
$skin-fries: "../img/bg-fries.jpg";
$cookie-frappe: "../img/bg-frappe.jpg";
$donut-burger: "../img/bg-donut.jpg";
$bg-discount: "../img/bg-discount.jpg";
$bg-effect: "../img/bg-effect.svg";
$bg-download-app: "../img/bg-download-app.jpg";
$bg-pancake-burger: "../img/bg-pancake-burger.jpg";
$bg-new-milkshake-menu: "../img/bg-new-milkshake-menu.jpg";
$bg-footer-background: "../img/bg-footer-background.jpg";
