$bg-image-header: "../img/bg-img.jpg";
$skin-fries: "../img/bg-fries.jpg";
$cookie-frappe: "../img/bg-frappe.jpg";
$donut-burger: "../img/bg-donut.jpg";
$bg-discount: "../img/bg-discount.jpg";
$bg-effect: "../img/bg-effect.svg";
$bg-appetizers: "../img/bg-appetizers.jpg";
$bg-burgers: "../img/bg-burgers.jpg";
$bg-beverages: "../img/bg-beverages.jpg";
$bg-pizza: "../img/bg-pizza.jpg";
$bg-sides: "../img/bg-sides.jpg";
$bg-dessert: "../img/bg-desserts.jpg";
$bg-chips: "../img/bg-chips.jpg";
$bg-specials: "../img/$bg-specials.jpg";
